In [1]:
import mysql.connector

In [2]:
# Connect to MySQL
connection = mysql.connector.connect(
    host="Grishma",
    user="root",
    password="Boocha3002",
    database="records"
)

# Create a cursor
cursor = connection.cursor()

# Creating a database and a table
create_table_query = """
CREATE TABLE IF NOT EXISTS students (
    student_id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    age INT,
    grade FLOAT
);
"""
cursor.execute(create_table_query)
clear_table_query = "TRUNCATE TABLE students;"
cursor.execute(clear_table_query)

# Insert multiple student records
insert_students_query = """
INSERT INTO students (first_name, last_name, age, grade) VALUES
('Alice', 'Smith', 18, 95.5),
('John', 'Jacon', 20, 93.0),
('Tessa', 'Young', 22, 91.7);
"""
cursor.execute(insert_students_query)

# Commit the changes
connection.commit()

# Fetch and print all student records from the table
select_query = "SELECT * FROM students;"
cursor.execute(select_query)
all_students = cursor.fetchall()

print("All Student Records:")
for student in all_students:
    print(student)

All Student Records:
(1, 'Alice', 'Smith', 18, 95.5)
(2, 'John', 'Jacon', 20, 93.0)
(3, 'Tessa', 'Young', 22, 91.7)

In [3]:
# Update the grade of the student with the first name Alice to 97.0
update_query = """
UPDATE students
SET grade = %s
WHERE first_name = %s;
"""
updated_grade_data = (97.0, "Alice")
cursor.execute(update_query, updated_grade_data)
connection.commit()

# Fetch and print all student records from the table
select_query = "SELECT * FROM students;"
cursor.execute(select_query)
all_students = cursor.fetchall()

print("All Student Records:")
for student in all_students:
    print(student)

All Student Records:
(1, 'Alice', 'Smith', 18, 97.0)
(2, 'John', 'Jacon', 20, 93.0)
(3, 'Tessa', 'Young', 22, 91.7)

In [4]:
# Delete the student with the last name "Smith"
delete_query = """
DELETE FROM students
WHERE last_name = %s;
"""
deleted_student_data = ("Smith",)
cursor.execute(delete_query, deleted_student_data)
connection.commit()

# Fetch and print all student records from the table after deletion
cursor.execute(select_query)
all_students_after_deletion = cursor.fetchall()

print("All Student Records (after deletion):")
for student in all_students_after_deletion:
    print(student)

All Student Records (after deletion):
(2, 'John', 'Jacon', 20, 93.0)
(3, 'Tessa', 'Young', 22, 91.7)

In [5]:
#Fetch and display all the students record
select_query = "SELECT * FROM students;"
cursor.execute(select_query)
all_students = cursor.fetchall()

print("All Student Records:")
for student in all_students:
    print(student)
    
#Close the cursor and connection
cursor.close()
connection.close()

All Student Records:
(2, 'John', 'Jacon', 20, 93.0)
(3, 'Tessa', 'Young', 22, 91.7)